
#body{
    background-color: #000;
}


.box{
    background-color: rgb(248, 16, 16);
    height: 100px;
    width: auto;
    position: absolute;
    top: 200px;
    left: 200px;
    animation-name: fahim9;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes fahim9{
    0%{
        top: 200px;
    }
    25%{
        top: 250px;
    }
    50%{
        top: 200px;
    }
    75%{
        top: 250px;
    }
    100%{
        top: 200px;
    }
}

.background{
    color: blue;
}
